$blue: #5dc2f0;
$white: #fff;

$h70: 70px;

$fs-large: 22px;
$fs-med: 18px;

.notification__container {
  font-family: Arial;
}

.notification__bell {
  display: inline-block;
  position: relative;
  padding: 0.6em;
  background: $blue;
  border-radius: 0.2em;
  font-size: 1.3em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: $white;
  cursor: pointer;
}

.notification__list__container {
  width: 465px;
  position: absolute;
  top: 65px;
  left: -210px;
  background-color: $blue;
}

.notification__list__header {
  text-align: center;
  color: $white;
  font-size: $fs-large;
  line-height: $h70;
  height: $h70;
  text-transform: uppercase;
}
.notification__list__content {
  background-color: $white;
  margin: 1px;
}
.notification__list__footer {
  height: $h70;

   a {
    line-height: $h70;
    text-align: center;
    display: block;
    color: $white;
    font-size: $fs-med;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.notification {
  margin: 5px 10px;
}

hr {
  height: 2px;
  color: #ddd;
}